html {
    scroll-behavior: smooth;
}
body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3125rem;
    min-width: 23.438;
    scroll-behavior: smooth;
}
/*margin resets*/
body,
h1,
h2 {
    margin: 0;
}
/*general styling on*/
h1, 
h2,
p {
    margin-bottom: 1em;
}

h2 {
    font-size: 1.3rem;
}

img {
    max-height: 75%;
    max-width: 100%;
    display: block;
}

section {
    padding: 3rem 0;
}


span {
    color: #0265C0
}

a {
    text-decoration: none;
    color: #0265C0;
}
/*buttons*/
.btn {
    width: 10rem;
    height: 42px;
    border: 1px solid #0265C0;
    box-sizing: border-box;
    border-radius: 10px; 
}

.flex-btns {
    display: flex;
    justify-content: space-around;
}

.learn-more,
.live,
.git {
    background: #0265C0;
    color: white;
    font-size: 1.15rem;
    font-family: "Montserrat", sans-serif;
}

.live,
.git {
    width: 8rem;
}

.resume,
.chat {
    background:white;
    color: #0265C0;
    font-size: 1.15rem;
    font-family: "Montserrat", sans-serif;
    border: 1px solid white;
}
/*fade in design*/
.fade-in {
    opacity: 0; 
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1; 
}
/*containers*/
.container {
    margin: 0 auto;
    width: min(90%, 70.5rem);
}

.container--narrow {
    max-width: 35rem;
}

.split {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.screenshot {
    height: 30rem;
    display: flex; 
    justify-content: center;
    align-items: center;
}
/*spash page*/ 
header {
    display: flex;
    align-items: center;
    min-height: 100vh;
}
/*about*/ 

.about p {
    margin-top: 0;
}

.about {
    background-color: #0265C0;
    color: white;
    clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
}
/*projects*/ 
.projects{
    padding-bottom: 0;
    padding-top: 0; 
}
.projects img {
    filter: drop-shadow(6px 6px 0px #0265C0);
    border-radius: 8px;
}

.projects a,
.learn-more a {
    color: white;
}

.projects h1,
.projects h2, 
.about h1 {
    text-align: center;
}
.projects h1 {
    padding-top: 1rem;
}
/*contact*/
.contact {
    background-color: #0265C0;
    clip-path: polygon(0 15vh,100% 0,100% 100%,0 100%);
    color: white;
    padding: 15rem 0 10rem;
    margin-bottom: -1px;
    
}

.contact {
    text-align: center;
}
/*media inquiries*/ 
@media (min-width: 45em) {
    .split {
        flex-direction: row;
    }

    .split > * {
        flex-basis: 100%;
    }

    .split > * + * {
        margin-left: 2em;
    }
}

@media (max-width: 46.25em) {
    .about,
    .contact {
        clip-path: none;
    }
}
