html {
    scroll-behavior: smooth;
}
body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3125rem;
    min-width: 23.438;
    scroll-behavior: smooth;
    height: auto;
}
/*margin resets*/
body,
h1,
h2 {
    margin: 0;
}
/*general styling on*/
h1, 
h2,
p {
    margin-bottom: 1em;
}

h2 {
    font-size: 1.3rem;
}

img {
    max-height: 75%;
    max-width: 100%;
    display: block;
}

section {
    padding: 3rem 0;
}


span {
    color: #0265C0
}

a {
    text-decoration: none;
    color: #0265C0;
}
/*buttons*/
.btn {
    width: 10rem;
    height: 42px;
    border: 1px solid #0265C0;
    box-sizing: border-box;
    border-radius: 10px; 
}

.flex-btns {
    display: flex;
    justify-content: space-around;
}

.learn-more,
.live,
.git {
    background: #0265C0;
    color: white;
    font-size: 1.15rem;
    font-family: "Montserrat", sans-serif;
}

.live,
.git {
    width: 8rem;
}

.resume,
.chat {
    background:white;
    color: #0265C0;
    font-size: 1.15rem;
    font-family: "Montserrat", sans-serif;
    border: 1px solid white;
}
/*fade in design*/
.fade-in {
    opacity: 0; 
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1; 
}
/*containers*/
.container {
    margin: 0 auto;
    width: min(90%, 70.5rem);
}

.container--narrow {
    max-width: 35rem;
}

.split {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.screenshot {
    height: 30rem;
    display: flex; 
    justify-content: center;
    align-items: center;
}
/*spash page*/ 
header {
    display: flex;
    align-items: center;
    min-height: 100vh;
}
/*about*/ 

.about p {
    margin-top: 0;
}

.about {
    background-color: #0265C0;
    color: white;
    clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
}

.about h1 {
    text-align: center;
}

/*contact*/
.contact {
    background-color: #0265C0;
    clip-path: polygon(0 15vh,100% 0,100% 100%,0 100%);
    color: white;
    padding: 15rem 0 10rem;
    margin-bottom: -1px;
    
}

.projects a,
.learn-more a {
    color: white;
}

.projects-title {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 2em;
    font-size: 1.3125em;
}


.card {
    color: white;
    background-size: cover; 
    padding: 20rem 0 0rem; 
    max-width: 35ch;
    border-radius: 1rem;
    overflow: hidden;
    margin: auto;
    transition: transform 500ms ease;
}

.card:hover, 
.card:focus-within {
    transform:scale(1.05);
}

.card-div {
    padding-bottom: 3rem;
}

#rocketfinder {
    background-image: url("/resources/images/RocketFinder.png");
}

#sunking {
    background-image: url("/resources/images/Company\ Home\ Page.png");
}

#excursion {
    background-image: url("/resources/images/Excursion.png");
}


.card:hover {
    transform: scale(1.05);
}

.card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0 0% 0% / .75),
        hsl(0 0% 0% / 1));
    padding: 1.5rem;
}

@media (hover) {
    .card-content {
        transform: translateY(75%);
        transition: transform 500ms ease;
    }
    .card:hover .card-content,
    .card:focus-within .card-content{
        transform: translateY(0);
        transition-delay: 500ms; 
    }

    .card:focus-within .card-content {
        transition-duration: 0ms;
    }
    .card:hover .card-title::after,
    .card:focus-within .card-title::after {
        transform: scaleX(1); 
    }
    .button:hover, 
    .button:focus {
        background-color: white;
        color: black;
    }

    .card-title::after {
        transform: scaleX(0);
    }
}



.card-title {
    position: relative;
    width: max-content; 
    padding-bottom: .5rem;
}

.card-title::after {
    content: "";
    position: absolute; 
    height: 4px;
    background: #0265C0;
    left: calc(var(--padding) * -1);
    bottom: 0;
    width: calc(100% + var(--padding));
    transform-origin: left;
    transition: transform 500ms ease;
}



.button {
    cursor: pointer; 
    display: inline-block; 
    text-decoration: none;
    color: white; 
    background-color: #0265C0;
    padding: 0.5em 1.25em;
    border-radius: 0.25em;
}


.contact {
    text-align: center;
}
/*media inquiries*/ 
@media (min-width: 79rem) {
    .split {
        flex-direction: row;
    }

    .split > * {
        flex-basis: 100%;
    }

    .split > * + * {
        margin-left: 2em;
    }
}

@media (max-width: 46.25em) {
    .about,
    .contact {
        clip-path: none;
    }
}
